<div class="centered-content">
  <div class="model-box">
    <h1 class="title">
      Create a New List
    </h1>

    <input #listTitleInput type="text" class="input has-background-light is-medium" placeholder="Enter list name...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="createList(listTitleInput.value)">Create</button>
    </div>

  </div>
</div>
