<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Lists
      </h1>

      <div class="list-menu">
        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
          <p>{{ list.title }}</p>
        </a>

      </div>

      <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>

    </div>

    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
      </h1>

      <div class="task" *ngFor="let task of tasks">
        <p>{{ task.title }}</p>
      </div>

      <button class="circle-add-button button is-primary">
        <img src="../../../assets/plus-icon.png">
      </button>

    </div>

  </div>
</div>
