@import '../../../main-style.scss';

.task-manager-container{
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 680px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 250px;
  background: white;
  padding: 42px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.task-list-container{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 42px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.title {
  font-family: 'Lato';
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.list-menu{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;

  .list-menu-item{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    color: #5f5f5f;
    margin-bottom: 5px;

    &:hover{
      background: $light;

    }

    &.is-active{
      background-color: #cff8cf;
      color: $dark-green;
    }
  }
}

.task{
  background: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;

  &:not(.complete){
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;

    &:active{
      transform: scale(0.95);
    }

    &:hover{
      box-shadow: 0 0 0 5px #eeeeee;
    }
  }

  &.complete{
    text-decoration: line-through;
    opacity: 80%;
  }

}

.circle-add-button{
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
}
